<.header>
  Edit Hardware Set <%= @hardware_set.id %>
</.header>

<.hardware_set_form changeset={@changeset} action={~p"/projects/#{@project}/hardware/#{@hardware_set}"} project={@project}/>

<.back navigate={~p"/projects/#{@project}/hardware/#{@hardware_set}"}>Back</.back>
