<.header>
  New Hardware Set
</.header>

<.hardware_set_form changeset={@changeset} action={~p"/projects/#{@project}/hardware"} project={@project}/>

<.back navigate={~p"/projects/#{@project}"}>Back to project <%= @project.name %></.back>
