<.header>
  Hardware Set <%= @hardware_set.id %>
  <:actions>
    <.link href={~p"/projects/#{@project_id}/hardware/#{@hardware_set}/edit"}>
      <.button>Edit</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Capacity"><%= @hardware_set.capacity %></:item>
  <:item title="Available"><%= @hardware_set.available %></:item>
</.list>

<.back navigate={~p"/projects/#{@project_id}"}>Back</.back>
